@media screen and (max-width: 1200px) {
  .our-works-page {
    &__work-items {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__work-item {
      width: 200px;
    }

    &__image {
      width: 200px;
    }
  }
}

@media screen and (max-width: 992px) {
  .our-works-page {
    &__work-items {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .our-works-page {
    &__work-items {
      grid-template-columns: 1fr;
    }
  }
}
