@font-face {
  font-family: "Sansation";
  src: url("../assets/fonts/Sansation-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../assets/fonts/Sansation-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../assets/fonts/Sansation-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
