// IMPORT RESET STYLES
@import 'reset.scss';
// ============================================

// IMPORT FONTS
@import './fonts.scss';
// ============================================

// GENERAL STYLES
.container {
  display: flex;
  margin: 0 auto;
  border-right: 1px solid red;
  border-left: 1px solid red;
  width: 1400px;
}
// ============================================

// IMPORT COMPONENT STYLES
@import './ui/style.scss';
// ============================================
