// IMPORT RESET STYLES
@import "reset.scss";
// ============================================

// IMPORT VARIABLES STYLES
@import "./variables.scss";
// ============================================

// IMPORT FONTS
@import "./fonts.scss";
// ============================================

// GENERAL STYLES
body {
  font-family: "Sansation";
  font-weight: 300;
  background-color: #0c0c0c;
  color: #fff;
  min-height: 100vh;
  height: 100vh;
}

.container {
  display: flex;
  margin: 0 auto;
  border-right: 1px solid red;
  border-left: 1px solid red;
  width: 1400px;
}

.main {
  display: flex;
  flex-direction: column;
}
// ============================================

// IMPORT COMPONENT STYLES
@import "./pages-style/style.scss";
@import "./ui-style/style.scss";
@import "./modules-style/style.scss";
// ============================================
