$mainColor: #ff5000;
$lightSectionColor: #0f0f0f;

$brightness: brightness(40%);
$brightnessHover: brightness(80%);
$transition: 0.3s;

@mixin defaultPageStyle {
  margin: 0 auto;
}

@mixin navigationList {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 15px;
}

@mixin titleOnImage {
  position: absolute;
  top: 42%;
  left: 20px;
  right: 20px;
  font-size: 22px;
}
