@mixin buttonStyle {
  background-color: $mainColor;
  width: max-content;
  font-size: 24px;
  padding: 10px 35px;
  font-weight: 300;
  border-radius: 10px;
}

.button {
  @include buttonStyle;
  @include animationOnHover;

  &--outlined {
    background-color: none;
    border: 1px solid $mainColor;

    @include buttonStyle;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.button-inline {
  width: 100%;
}

.button-disabled {
  width: max-content;
  font-size: 24px;
  padding: 10px 35px;
  font-weight: 300;
  border-radius: 10px;
  pointer-events: none;
  filter: $brightness;

  &::first-letter {
    text-transform: uppercase;
  }
}
