@mixin buttonstyle {
  background-color: $mainColor;
  width: max-content;
  height: max-content;
  font-size: 16px;
  padding: 12px 15px;
  font-weight: 300;
  line-height: 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.button {
  @include buttonstyle;
  margin: 0 auto;

  &--outlined {
    @include buttonstyle;
    background-color: inherit;
    color: white;
    border: 1px solid $mainColor;
    transition: $transition;

    &:hover {
      // background-color: $mainColor;
      // color: black;

      background-color: rgba(255, 80, 0, 0.1);
      border-radius: 10px;
    }
  }

  &:disabled {
    background-color: #707070;
    cursor: not-allowed;
    color: black;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}
