.content-block-layout {
  background-color: #1b1b1b;
  border-radius: 15px;
  width: max-content;
  padding: 30px;

  &__title {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid $mainColor;
    width: max-content;
    margin: 0 auto;
  }
}
