.header {
  color: #fff;
  position: absolute;
  z-index: $zIndex2;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 20px;

  &--sticky {
    position: sticky;
    background-color: black;
  }

  &__nav {
    margin: 0 0 0 63px;
  }

  &__logo-image {
    width: 120%;
  }

  &__list {
    @include navigationList;
  }

  &__nav-item {
    &:nth-child(n + 2) {
      margin: 0 0 0 63px;
    }
  }

  &__link {
    color: #fff;
    transition: $transition;

    &:hover {
      color: #ccc;
    }
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 20px;
    align-items: center;
  }

  &__icon-image {
    transition: $transition;
    width: 70%;

    &:hover {
      cursor: pointer;
      filter: $brightnessHover;
    }
  }
}
