.notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  border-radius: 15px;
  font-weight: 800;
  max-width: 450px;

  //

  &--error {
    background-color: #fa5a5a;
    color: rgb(83, 1, 1);
  }

  &--success {
    background-color: #5cb85c;
    color: rgb(0, 70, 15);
  }

  &--warning {
    background-color: rgb(236, 128, 26);
    color: rgb(102, 50, 0);
  }

  &--information {
    background-color: rgb(120, 131, 233);
    color: black;
  }

  &--hide {
    animation: notificationShow;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid;
    border-color: inherit;
    padding: 10px;
  }

  &__body {
    padding: 20px 50px;
  }
}

@keyframes notificationShow {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    display: none;
  }
}
