.page-title {
  display: flex;
  margin: 40px auto;
  padding: 0px 0 2px 0;
  border-bottom: 2px solid $mainColor;
  font-size: 32px;
  // width: max-content;
  text-wrap: wrap;
  text-align: center;

  &__text::first-letter {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .page-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .page-title {
    margin: 20px auto;
  }
}
