// general swiper styles

.swiper {
  padding: 0 0 50px 0 !important;
  margin-bottom: 40px;
  width: 95vw !important;
}

.swiper-wrapper {
  height: max-content !important;
}

// navigation arrows

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

// swiper pagination

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  border: 1px solid $mainColor;
  padding: 8px;
}

.swiper-pagination-bullet-active {
  background: $mainColor !important;
}

.swiper-pagination {
  // top: 90% !important;
  margin: 30px 0 0 0 !important;
}

// slide styles

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.slide-layout {
  position: relative;
  text-align: center;
  margin: 0 20px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: 100%;
    filter: $brightness;
    transition: $transition;

    @include animationOnHover;
    &:hover {
      filter: $brightnessHover;
    }
  }

  &__title {
    @include titleOnImage;
  }
}

// autoplay circle styles

.autoplay-progress {
  position: absolute;
  right: -5px;
  bottom: 0px;
  z-index: $zIndex10;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;

  svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: $zIndex10;
    width: 80%;
    height: 80%;
    stroke-width: 3px;
    stroke: $mainColor;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  span {
    margin: -9px 0 0 -7px;
  }
}
