.blog-post-managing-page {
  &__content {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  &__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 0;
    width: 100%;
    margin: 0 0 40px 0;
  }

  &__posts-layout {
    width: 100%;
  }
}

.published-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@import "./responsive.scss";
