.account-page {
  @include defaultPageStyle;

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 0 0 20px 0;
  }

  &__content {
    display: flex;
    gap: 20px;
  }

  &__applications {
    width: 100%;
  }

  &__applications {
    &--empty {
      font-size: 20px;
      text-align: center;
    }
  }
}

.account-info {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  margin: 0 auto;
  padding: 0 0 0 0;

  &__photo {
    margin: 0 auto;
    padding: 0 0 40px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    // width: 500px;

    label {
      filter: $brightness;
    }

    input {
      @include defualtInputStyle;

      &:focus {
        border: 1px solid $mainColor;
      }
    }
  }

  &__image {
    width: 200px;
    border-radius: 50%;
  }

  &__name,
  &__surname,
  &__phone,
  &__email {
    @include defualtInputStyle;
    margin: 5px 0 25px 0;
  }

  // &__surname {
  // }

  // &__phone {
  // }

  // &__email {
  // }
}

@import "./responsive.scss";
