.curent-service-page {
  &__about-service {
    font-size: 16px;
    line-height: 1.5em;
    width: 100%;

    p {
      margin: 15px 0;
    }
  }
  &__prices-table,
  &__about-block {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &.expanded {
      overflow: visible;
    }

    .expand-overlay {
      // width: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 20px;
      cursor: pointer;

      &__arrow {
        width: 50px;
      }

      span {
        // background: #fff;
        // padding: 5px 15px;
        // border-radius: 15px;
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        // color: $mainColor;
        // font-weight: 500;
        // transition: all 0.3s ease;

        &:hover {
          // background: #f0f0f0;
          // transform: translateY(-2px);
        }
      }
    }
  }
}

.collapse-button {
  display: block;
  margin: 15px auto 0;
  width: 100%;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  // background: #f5f5f5;
  border: none;
  border-radius: 15px;
  color: $mainColor;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  transform: rotate(180deg);

  &__arrow {
    width: 50px;
  }
}
