.account-page {
  @include defaultPageStyle;

  &__exit-button {
    position: absolute;
    top: 10vh;
    left: 90.5vw;
  }
}

.account-info {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  margin: 0 auto;
  padding: 0 0 40px 0;

  &__photo {
    margin: 0 auto;
    padding: 0 0 40px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;

    label {
      filter: $brightness;
    }

    input {
      @include defualtInputStyle;

      &:focus {
        border: 1px solid $mainColor;
      }
    }
  }

  &__image {
    width: 250px;
    border-radius: 50%;
  }

  &__name,
  &__surname,
  &__phone,
  &__email {
    @include defualtInputStyle;
    margin: 5px 0 25px 0;
  }

  &__surname {
  }

  &__phone {
  }

  &__email {
  }
}
