.general-page {
  @include defaultPageStyle;
  overflow: hidden;

  a {
    color: white;
  }
  // video block styles

  &__video {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  &__clip {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    opacity: 30%;
  }

  &__banner {
    position: absolute;
    top: 35%;
    z-index: $zIndex1;
  }

  &__clue {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    animation: scrollClue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    &:hover {
      cursor: pointer;
    }
  }

  &__arrow {
    width: 50px;
    margin: 20px 0 0 0;
  }

  // slider block styles

  &__slider-block {
    background-color: $lightSectionColor;
    display: flex;
    flex-direction: column;
  }

  &__slider {
    display: flex;
    flex-direction: column;
  }

  // promotion block styles

  .promotion-block {
    display: flex;
    flex-direction: column;
    background-color: $lightSectionColor;
    padding: 0 0 40px 0;

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__image {
      width: 650px;
      filter: $brightness;
      transition: $transition;

      &:hover {
        filter: $brightnessHover;
        cursor: pointer;
      }
    }

    &__left,
    &__right {
      position: relative;
      text-align: center;
    }

    &__title {
      @include titleOnImage;
    }
  }

  // about block styles

  .about-block {
    padding: 0 0 40px 0;
    &__content {
      font-size: 20px;
    }

    &__article {
      text-align: center;
      margin: 0 0 40px 0;
      font-size: 25px;
      line-height: 35px;
    }

    &__fact {
      width: 100%;
    }

    // &__works {
    // }

    &__works-title {
      display: block;
      color: $mainColor;
      margin-bottom: 10px;
      text-align: center;
    }

    &__works-list {
      list-style-type: none;
    }

    &__fact {
      margin: 40px auto 0 auto;
      padding: 0 0 4px 0;
      // border-bottom: 1px solid $mainColor;
      color: $mainColor;
      width: max-content;
      text-align: center;
    }

    &__works-item {
      margin: 0 0 4px 0px;

      &::first-letter {
        text-transform: uppercase;
      }

      &::before {
        content: "•";
        color: $mainColor;
        padding-right: 8px;
      }
    }
  }

  // place block styles

  .place-block {
    background-color: $lightSectionColor;
    &__action {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 20px 0;
    }

    &__address,
    &__contanct-phone {
      margin: 0 auto 20px auto;
      font-size: 24px;
      color: #ccc;

      a {
        color: $mainColor;

        &:hover {
          color: #b9b9b9;
        }
      }
    }

    &__button {
      margin: 0 auto;
    }
  }

  &__map-block {
    height: 300px;
  }

  &__map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #5d5d5d;
  }
}

.place-block__icons {
  margin: 0 auto;
}

.place-block__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.place-block__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainColor;
  border-radius: 50px;
  padding: 5px;

  @include animationOnHover;

  &:first-child {
    padding: 14px 8px;
    img {
      width: 30px;
    }
  }

  &:nth-child(n):not(:last-child) {
    margin: 0 50px 0 0;
  }
}

.place-block__icon-image {
  width: 40px;
}

@keyframes scrollClue {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 20px;
  }

  100% {
    bottom: 50px;
  }
}

// responsive design
@import "./responsive.scss";
