@media screen and (max-width: 1200px) {
  .general-page {
    // video block

    &__video {
      height: 100%;
    }

    &__clip {
      //   height: max-content;
    }

    &__banner {
      //   top: 20%;
      width: 60%;
    }

    &__clue {
      //   display: none;
    }

    &__arrow {
    }

    a {
      font-size: 23px;
    }

    // slider block

    // about block

    .about-block {
      &__content {
        font-size: 20px;
      }

      &__article {
        font-size: 15px;
        line-height: 30px;
      }
    }

    // place block

    .place-block {
      &__address,
      &__contanct-phone {
        font-size: 20px;
      }
    }
  }
}
