@media screen and (max-width: 1200px) {
  .general-page {
    // video block

    &__video {
      height: 100%;
    }

    &__banner {
      //   top: 20%;
      width: 60%;
    }

    a {
      font-size: 23px;
    }

    // slider block

    // about block

    .about-block {
      &__content {
        font-size: 20px;
      }

      &__article {
        font-size: 15px;
        line-height: 30px;
      }
    }

    // place block

    .place-block {
      &__address,
      &__contanct-phone {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .general-page {
    // video block
    height: 80%;

    &__video {
      height: 100%;
    }

    &__clip {
      height: 80%;
    }

    &__banner {
      top: 40%;
      width: 40%;
    }

    a {
      font-size: 23px;
    }

    &__clue {
      // top: 20px;
    }

    // slider block

    // about block

    .about-block {
      &__content {
        font-size: 20px;
      }

      &__article {
        font-size: 15px;
        line-height: 30px;
      }

      &__fact {
        width: 100%;
        font-size: 15px;
      }
    }

    // place block

    .place-block {
      &__address,
      &__contanct-phone {
        font-size: 20px;
      }
    }
  }
}
